package templates

import "github.com/AVZotov/metrics/internal/model/dto"

templ metrics(m dto.MetricsDTO) {
	<p>{ m.String() }</p>
}

templ MetricsPage(m []dto.MetricsDTO) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Document</title>
		</head>
		<body>
			<div>
				for _, mm := range m {
					@metrics(mm)
				}
			</div>
		</body>
	</html>
}
